/* SVG styling */


text {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}


#energychart svg, #chart3 svg {
	height: 360px;
}

path {
	stroke: #777;
	/*stroke: white;*/
	stroke-width: 0.1px;
	stroke: 'none';
}

.labels {
	fill: #aaa;
	font-weight: 200;
	letter-spacing: -1px;
}
.labels.segment {
	font-size: 10px;
}

#chart3 .labels {
	fill: #555;
}